.loggerContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 38px;
}
#loggerForm{
    display: inline-block;
}
body{
    width:80%;
    margin: auto;
}
#userNameP{
    display: inline-block;
}
#mainHeader{
    margin-top: 30px;
    font-family: Anton;
    font-size: 15em;
    text-align: center;
}
#mainHeader_secondary{
    font-family: Anton;
    font-size: 3em;
    text-align: center;
}
.center{
    margin: auto;
}
.listHeader{
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: Anton;
    font-size: 3em;
    text-align: center;
}
.analysisList{
    text-align: center;
}
.title{
    font-weight: bold;
    font-size: 1.5em;
}
.inline{
    display: inline-block;
}
.spanList{
    font-weight: bold;
}
#profileMain{
    font-family: Anton;
    font-size: 3em;
    margin: auto;
    display:inline-block;
}
#addButton{
    margin-top: 1em;
    width:100%;
    display: block;
}
.detailsAnalysisTitle{
    margin-top: 2em;
    display: block;
}
